body{
height: 100vh;
}

header {
    text-align: right;
}
header button {
    width: auto;
}
ol{
    list-style-type: none;
    padding: 0;
    
}
ol li{
    cursor: pointer;
    background-color: white;
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}
ol li:hover{
    background-color: rgb(136, 131, 131);
}
p{
    margin: 4px 0px;
}
ol li.expense{
    border-left: 10px solid red;

}
ol li.income{
    border-left: 10px solid green;

}
button.danger{
    width: auto;
    float:right;
    display: none;
    cursor: pointer;
    background: transparent;
    
}

ol li:hover button.danger{
    display: block;
}
.clear-button{
    height: 40px;
    width: 70px;
    margin-right: 1px;
    border-color: rgb(8, 138, 4);
    cursor: pointer;
    background-color: rgb(144, 240, 141);
}